[submodule "ext/raylib"]
	path = ext/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "ext/yojimbo"]
	path = ext/yojimbo
	url = https://github.com/networkprotocol/yojimbo.git
[submodule "ext/rmlui"]
	path = ext/rmlui
	url = https://github.com/mikke89/RmlUi.git
